* {
    box-sizing: border-box;
}


textarea {
    resize: none !important;
}

input,
textarea {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    color: white !important;
}




.sticky-preview {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    height: calc(100vh - 40px);
    overflow-y: auto;
    scrollbar-width: none;
}

.sticky-preview::-webkit-scrollbar {
    display: none;
}



.preview-focus {
    background-color: rgba(13, 110, 253, 0.1);
    outline: 2px dashed #0d6efd;
    outline-offset: 4px;
    border-radius: 4px;
    transition: all 0.3s ease;
    transition: background-color 0.3s;
}


.locked-style {
    background-color: #f0f0f0 !important;
    cursor: not-allowed;
    border-color: #ccc !important;
    color: black !important;
}


#photo::file-selector-button {
    content: "Parcourir";

    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    background-color: #0fbcf9;
    color: white;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}


#photo {
    color: #636e72;

}

.form-control:focus {
    background-color: rgba(255, 255, 255, 0.15) !important;
    color: inherit;
    box-shadow: none;
    /* Enlève le halo bleu par défaut si tu veux du relief pur */
}

@media (min-width: 992px) {
    .sticky-preview {
        position: sticky;
        top: 20px;
    }
}