/* cv defaut */
.theme-dark #previewea .flex-grow-1 h5 {
    color: #1e272e !important;
    border-bottom-color: #0fbcf9 !important;
}

.theme-dark #previewea #p-poste,
.theme-dark #previewea #p-diplome {
    color: #333 !important;
}

.theme-dark #previewea #p-entreprise,
.theme-dark #previewea #p-etablissement {
    color: #0fbcf9 !important;
}

.theme-dark #previewea .flex-shrink-0 .skill-item,
.theme-dark #previewea .flex-shrink-0 .loisir-item {
    border-left: 3px solid #0fbcf9 !important;
    padding-left: 8px;
}

/*theme bleu*/
.theme-blue #previewea .flex-grow-1 h5 {
    color: #003d82 !important;
    border-bottom-color: #0066cc !important;
}

.theme-blue #previewea #p-poste,
.theme-blue #previewea #p-diplome {
    color: #333 !important;
}

.theme-blue #previewea #p-entreprise,
.theme-blue #previewea #p-etablissement {
    color: #0066cc !important;
}

.theme-blue #previewea .flex-shrink-0 .skill-item,
.theme-blue #previewea .flex-shrink-0 .loisir-item {
    border-left: 3px solid #0066cc !important;
    padding-left: 8px;
}

/* thème moderne /rouge*/
.theme-modern #previewea .flex-grow-1 h5 {
    color: #2c3e50 !important;
    border-bottom-color: #e74c3c !important;
}

.theme-modern #previewea #p-poste,
.theme-modern #previewea #p-diplome {
    color: #333 !important;
}

.theme-modern #previewea #p-entreprise,
.theme-modern #previewea #p-etablissement {
    color: #e74c3c !important;
}

.theme-modern #previewea .flex-shrink-0 .skill-item,
.theme-modern #previewea .flex-shrink-0 .loisir-item {
    border-left: 3px solid #e74c3c !important;
    padding-left: 8px;
}

/* correctif des couleurs sur la preview par aux theme choisis */
.preview-exp-item .p-poste,
.preview-formation-item .p-diplome {
    color: #333 !important;
}

.preview-exp-item .p-entreprise,
.preview-formation-item .p-etablissement {
    font-weight: 500;
}

.preview-comp-item,
.preview-loisir-item {
    border-left: 3px solid;
    padding-left: 8px;
    margin-bottom: 6px;
}

/*
.theme-dark .preview-comp-item,
.theme-dark .preview-loisir-item {
    border-left-color: #0fbcf9 !important;
}

.theme-blue .preview-comp-item,
.theme-blue .preview-loisir-item {
    border-left-color: #0066cc !important;
}

.theme-modern .preview-comp-item,
.theme-modern .preview-loisir-item {
    border-left-color: #e74c3c !important;
} */



.theme-dark #previewea .flex-grow-1 h5 {
    border-bottom-color: #0fbcf9 !important;
}


.theme-blue #previewea .flex-grow-1 h5 {
    border-bottom-color: #0066cc !important;
}


.theme-modern #previewea .flex-grow-1 h5 {
    border-bottom-color: #e74c3c !important;
}